@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

html, body{
  height: 100%;
  width: 100%;
  background: #F5F4F3;
  color: #463f3a;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark, html.dark body {
  background: #1a1a1a;
  color: #f5f4f3;
}

/* color 
463f3a dark
8a817c light
bcb8b1 extra light

bg
f4f3ee */